@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(rgb(144, 144, 245), 20%, rgb(248, 192, 201));
  height: 100vh;
}

.about {
  border-radius: 10px;
  border: 2px black solid;
  margin: 2em;
  padding: 1em;
  background-color: rgb(198, 245, 248);
  width: 600px;
  min-width: 300px;
  max-width: 700px;
  height: auto;
}

.about p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}